:root {
  --font-family: Open Sans;
  --darker-blue: #25252e;
  --dark-blue: #2b2d36;
  --blue: rgb(112,146,190);
  --light-blue: #7b8eb0;
  --lighter-blue: #92A8D1;
}

* {
  margin: 0; 
  padding: 0;
  font-family: var(--font-family);
  font-weight: 100;
}

/* Header Styles */
header {
  background: var(--darker-blue);
  position: relative;
  padding: 15px 0;
  border-bottom: 4px solid var(--lighter-blue);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
}

header > * {
  padding: 15px 0;
}

header h1 {
  text-align: center;
  color: white;
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
}

header select, header select:focus, header i {
  appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  font-style: italic;
  font-size: 18px;
  padding: 0 5px;
  text-align: center;
}

.select {
  grid-row: 2;
}


header i {
  font-size: 15px;
  right: 25px;
}

/* Main Styles */
main {
  height: calc(100vh - 253px);
  width: 100%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  outline: 3px solid var(--dark-blue);
}

.node-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.node {
  height: 30px;
  width: 30px;
  outline: 1px solid var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.start, .end {
  font-size: 25px;
  color: var(--dark-blue);
  cursor: grab;
}

.barrier {
  font-size: 22.5px;
  background: var(--dark-blue);
  outline: 1px solid var(--dark-blue);
  cursor: pointer;
  transition: .2s;
  animation-name: add-barrier;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.visited {
  outline: 0;
  background: var(--lighter-blue);
  animation-name: add-visited;
  animation-duration: .2s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

/* Footer Styles*/
footer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.control-panel p {
  width: 100%;
  font-size: 15px;
}

.control-panel input, .control-panel input:focus {
  outline: 0;
  border: 0;
  color: white;
  padding: 7.5px 0;
  width: 225px;
  background: var(--dark-blue);
  cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  header h1 {
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
  }

  header > * {
    padding-right: 35px;
  }

  header select, header select:focus {
    font-size: 25px;
  }
  
  main {
    height: calc(100vh - 200px);
  }
}

/* Animations */
@keyframes add-barrier {
  0% { 
    transform: scale(.1);
    border-radius: 50%;
  }

  50% {
    transform: scale(.5);
    border-radius: 75%;
  }

  100% {
    transform: scale(1);
    border-radius: 0;
  }
}

@keyframes add-visited {
  0% { 
    transform: scale(.1);
    border-radius: 50%;
  }

  50% {
    transform: scale(.5);
    border-radius: 75%;
  }

  100% {
    transform: scale(1);
    border-radius: 0;
  }
}