:root {
  --font-family: Open Sans;
  --darker-blue: #25252e;
  --dark-blue: #2b2d36;
  --blue: rgb(112,146,190);
  --light-blue: #7b8eb0;
  --lighter-blue: #92A8D1;
}

* {
  margin: 0; 
  padding: 0;
  font-family: var(--font-family);
  font-weight: 100;
}

/* Header Styles */
header {
  background: var(--darker-blue);
  height: 100px;
  position: relative;
  border-bottom: 3px solid var(--blue);
}

header h1 {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
}

header select, header select:focus, header i {
  appearance: none;
  position: absolute;
  background: transparent;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  border: 0;
  outline: 0;
  color: white;
  font-style: italic;
  font-size: 20px;
}

header i {
  font-size: 15px;
  right: 25px;
}

/* Main Styles */
main {
  margin-top: 50px;
  height: calc(100vh - 300px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.node {
  height: 25px;
  width: 25px;
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.start-node, .end-node {
  font-size: 22.5px;
  color: var(--dark-blue);
  cursor: grab;
}

.barrier-node {
  font-size: 22.5px;
  color: var(--dark-blue);
  cursor: pointer;
}

/* Footer Styles*/
footer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.control-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.control-panel p {
  width: 100%;
  font-size: 15px;
}

.control-panel input, .control-panel input:focus {
  outline: 0;
  border: 0;
  color: white;
  padding: 5px 0;
  width: 225px;
  background: var(--blue);
  cursor: pointer;
}

@media screen and (min-width: 724px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
  }

  .node {
    height: 40px;
    width: 40px;
  }

  .start-node, .end-node {
    font-size: 35px;
  }
}